In [6]:

import numpy as np
import pandas as pd
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn import metrics
from sklearn.preprocessing import MinMaxScaler
from sklearn.linear_model import Ridge
from sklearn.linear_model import Lasso

In [7]:
# _complete_ (Appliances energy prediction Data Set)
df = pd.read_csv('energydata.csv')#put your own file path here
df.head(2)

,date,Appliances,lights,T1,RH_1,T2,RH_2,T3,RH_3,T4,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
0,2016-01-11 17:00:00,60,30,19.89,47.596667,19.2,44.7900,19.79,44.73,19.0,...,17.033333,45.53,6.600000,733.5,92.0,7.000000,63.000000,5.3,13.275433,13.275433
1,2016-01-11 17:10:00,60,30,19.89,46.693333,19.2,44.7225,19.79,44.79,19.0,...,17.066667,45.56,6.483333,733.6,92.0,6.666667,59.166667,5.2,18.606195,18.606195

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19735 entries, 0 to 19734
Data columns (total 29 columns):
date           19735 non-null object
Appliances     19735 non-null int64
lights         19735 non-null int64
T1             19735 non-null float64
RH_1           19735 non-null float64
T2             19735 non-null float64
RH_2           19735 non-null float64
T3             19735 non-null float64
RH_3           19735 non-null float64
T4             19735 non-null float64
RH_4           19735 non-null float64
T5             19735 non-null float64
RH_5           19735 non-null float64
T6             19735 non-null float64
RH_6           19735 non-null float64
T7             19735 non-null float64
RH_7           19735 non-null float64
T8             19735 non-null float64
RH_8           19735 non-null float64
T9             19735 non-null float64
RH_9           19735 non-null float64
T_out          19735 non-null float64
Press_mm_hg    19735 non-null float64
RH_out         19735 non-null float64
Windspeed      19735 non-null float64
Visibility     19735 non-null float64
Tdewpoint      19735 non-null float64
rv1            19735 non-null float64
rv2            19735 non-null float64
dtypes: float64(26), int64(2), object(1)
memory usage: 4.4+ MB

In [9]:
df.describe()

,Appliances,lights,T1,RH_1,T2,RH_2,T3,RH_3,T4,RH_4,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
count,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,...,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000
mean,97.694958,3.801875,21.686571,40.259739,20.341219,40.420420,22.267611,39.242500,20.855335,39.026904,...,19.485828,41.552401,7.411665,755.522602,79.750418,4.039752,38.330834,3.760707,24.988033,24.988033
std,102.524891,7.935988,1.606066,3.979299,2.192974,4.069813,2.006111,3.254576,2.042884,4.341321,...,2.014712,4.151497,5.317409,7.399441,14.901088,2.451221,11.794719,4.194648,14.496634,14.496634
min,10.000000,0.000000,16.790000,27.023333,16.100000,20.463333,17.200000,28.766667,15.100000,27.660000,...,14.890000,29.166667,-5.000000,729.300000,24.000000,0.000000,1.000000,-6.600000,0.005322,0.005322
25%,50.000000,0.000000,20.760000,37.333333,18.790000,37.900000,20.790000,36.900000,19.530000,35.530000,...,18.000000,38.500000,3.666667,750.933333,70.333333,2.000000,29.000000,0.900000,12.497889,12.497889
50%,60.000000,0.000000,21.600000,39.656667,20.000000,40.500000,22.100000,38.530000,20.666667,38.400000,...,19.390000,40.900000,6.916667,756.100000,83.666667,3.666667,40.000000,3.433333,24.897653,24.897653
75%,100.000000,0.000000,22.600000,43.066667,21.500000,43.260000,23.290000,41.760000,22.100000,42.156667,...,20.600000,44.338095,10.408333,760.933333,91.666667,5.500000,40.000000,6.566667,37.583769,37.583769
max,1080.000000,70.000000,26.260000,63.360000,29.856667,56.026667,29.236000,50.163333,26.200000,51.090000,...,24.500000,53.326667,26.100000,772.300000,100.000000,14.000000,66.000000,15.500000,49.996530,49.996530

In [10]:
scaler = MinMaxScaler()
drop_df = df.drop(columns=['date', 'lights'])
normalised_df = pd.DataFrame(scaler.fit_transform(drop_df), columns=drop_df.columns)

features_df = normalised_df.drop(columns=['Appliances'])
targets_df = normalised_df['Appliances']

TypeError: drop() got an unexpected keyword argument 'columns'

In [11]:
x_train, x_test, y_train, y_test = train_test_split(features_df['T2'].values.reshape(-1,1), features_df['T6'], test_size=0.3, random_state=42)

linear_model = LinearRegression()

NameError: name 'features_df' is not defined

In [12]:
linear_model.fit(x_train, y_train)

NameError: name 'linear_model' is not defined

In [13]:
predictions = linear_model.predict(x_test)
rsquared = metrics.r2_score(y_test, predictions)
print("R squared score: ", round(rsquared, 2))

NameError: name 'linear_model' is not defined

In [ ]:
mae = metrics.mean_absolute_error(y_test, predictions)
print("Mean Absolute Error (MAE): ", round(mae, 2))

In [ ]:
rss = np.sum(np.square(y_test - predictions))
print("Residual Sum of Squares (RSS): ", round(rss, 2))

In [ ]:
rmse = np.sqrt(metrics.mean_squared_error(y_test, predictions))
print("Root Mean Squared Error: ", round(rmse, 3))

# QUESTION 16

In [ ]:
coe_det = metrics.r2_score(y_test, predictions)
print("Coefficient of determination: ", round(coe_det, 2))

# QUESTION 17

In [ ]:
X = normalised_df.drop(columns=['Appliances'])
Y = normalised_df['Appliances']

x_train, x_test, y_train, y_test = train_test_split(X, Y, test_size=0.3, random_state=42)

linear_model_2 = LinearRegression()
linear_model_2.fit(x_train, y_train)

In [ ]:
predictions_2 = linear_model_2.predict(x_test)

In [ ]:
def get_weights_df(model, feat, col_name):
    """
    This function returns the weight of every feature.
    
    Source: https://gist.github.com/HamoyeHQ/3fd7570f8bf390ee9b9f7f042271d9f9
    """
    weights = pd.Series(model.coef_, feat.columns).sort_values()
    weights_df = pd.DataFrame(weights).reset_index()
    weights_df.columns = ['Features', col_name]
    weights_df[col_name].round(3)
    return weights_df

In [ ]:
linear_model_weights = get_weights_df(linear_model_2, x_train, 'Linear_Model_Weight')

In [ ]:
linear_model_weights.sort_values(by='Linear_Model_Weight', ascending=True)

# QUESTION 18

In [ ]:
ridge_model = Ridge(alpha=0.4)
ridge_model.fit(x_train, y_train)

In [ ]:
predict_ridge = ridge_model.predict(x_test)

In [ ]:
rmse_rdige = np.sqrt(metrics.mean_squared_error(y_test, predict_ridge))
rmse_linear = np.sqrt(metrics.mean_squared_error(y_test, predictions_2))

print("Root Mean Squared Error (Ridge): ", round(rmse_rdige, 3))
print("Root Mean Squared Error (Linear): ", round(rmse_linear, 3))

# QUESTION 19

In [ ]:
lasso_model = Lasso(alpha=0.001)
lasso_model.fit(x_train, y_train)
lasso_weights = get_weights_df(lasso_model, x_train, 'Lasso_Model_Weight')

In [ ]:
lasso_weights = get_weights_df(lasso_model, x_train, 'Lasso_Model_Weight')

# QUESTION 20

In [ ]:
lasso_predict = lasso_model.predict(x_test)
rmse_lasso = np.sqrt(metrics.mean_squared_error(y_test, lasso_predict))

print("Root Mean Squared Error (Lasso): ", round(rmse_rdige, 3))